/* ---- CSS reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-image: url(../images/musical-tiles.jpg);
    background-size: cover;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  p {
    margin: 0;
  }
  
  
  
  /* ---- layout ---- */
  
  html, body {
    height: 100%;
  }
  
  .container {
    margin: 0 20px;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 728px;  /* Resizes the container to 728px for large screens */
      margin: 0 auto;
    }
  }
  
  
  /* ---- components ---- */
  
  .game {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .game header {
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .game .lives {
    flex: 1;
  }
  
  .game .score {
    flex: 1;
  }
  
  .game .label {
    font-weight: bold;
  }
  
  .game .value {
    font-style: italic;
  }
  
  .game .canvas-container {
    flex: 1;
  }

  .game .canvas-container canvas{
    background-image: url(../images/starryNights1.jpg);
    background-size: cover;
  }

  #fill {
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/musical-tiles.jpg);
    font-family: 'Amatic SC', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #fill h1{
    font-size: 72px;
    color: rgb(17, 71, 141);
  }

#fill button{
  margin-top: 50px;
  padding: 10px 20px;
  background-color: #62acc7;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
}

 #fill button:hover{
  transform: scale(1.2);
 }

 #score{
   font-size: 40px;
 }